@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: "DMSerif";
    src: url(./DM_Serif_Display\,Playfair_Display/);
}
/* l'étoile donne du style a tout les éléments */
/* *{
    margin: 0;
    padding: 0;
} */

body{
    font-family: "DMSerif", verdana;
    background:url(./bg.png) center/cover;
    /* vh= 100pourcent de la taille de l'écran(viewport height) */
    min-height: 100vh;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* les tailles de police doivent être en rem */
    /* 8vw 10% de la taille de l'écrant d'utilisateur */
    font-size: 8vw;
    text-shadow: 7px -1px 5px #00000094;
    color:rgb(184, 159, 218);
    font-family: "Playfair",sans-serif;
}

main{
    min-height: 500px;
    /* les % c'est que sur la largeur */
    width: 90%;
    background: rgba(227, 213, 213, 0.322);
    /* centrer une boite  (auto) meme marge des deux côtés*/
    margin:0 auto;
    border: 2px solid rgb(241, 194, 201);
    border-radius: 20px;
     /* border-radius: 20px 20px 0 0;(si on veux faire des forme particulières) */
     box-shadow: 0 0 20px 7px #e7e0e0;
     padding: 15px;
}
h2{
    margin: 0;
}
.flexbox , .grid, .absolute {
    border:2px solid rgb(241, 194, 201);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    min-height: 160px;
}
/* flexbox */
/* sert à répartir équitablement des éléments sur la page */
.flexbox ul{
    padding: 0;
    /* display flex mettre les un à côté des autres */
    display: flex;
    justify-content:  space-evenly;
}
.flexbox li{
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: rgb(244, 176, 216);
    /* centrer un unique élément verticalement et honrizontalement  */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Grid */
.grid-container{
    display: grid;
    grid-template-columns: 30% 70%;
}
.grid img{
    width: 40%;
    margin-top: 20px auto;
    display: block;
}
form{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";
}
input,textarea{
    margin: 5px;
    border: 1px solid rgb(241, 194, 201);
    padding: 10px;
    font-size: 1.1rem;
    font-family: "DMSerif";
    border-radius: 20px;
}
textarea{
    grid-area: ta;
    height: 40px;
    resize:none;
}
#btn-submit{
    grid-area: bt;
    cursor:pointer;
    background: rgb(244, 176, 216);
    transition:0.2s;
   
}
#btn-submit:hover{
    background: #e7e0e0;
}
/* Absolute */
/* il faut mettre une position relative au parent pour contraindre l'élément en absolute dans ses frontières */
.absolute{
    position: relative;
}
#circle1{
    height: 60px;
    width: 60px;
    background:rgb(244, 176, 216);
    position: absolute;
    border-radius: 150px;
    top:-20px;
    right: -20px;
}
#circle2{
    height: 40px;
    width: 40px;
    background:rgb(184, 159, 218) ;
    border-radius: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* responsive */
@media screen and (max-width:900px){
    .grid-container{
        display: block; 
    }
    .grid-container img{
        width: 40%;
       
    }
}
@media screen and (max-width:610px){
    .flexbox ul{
        flex-direction: column;
        align-items: center;

    }
    form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }
    input,textarea{
        font-size: 0.8rem;
    }
}